.contact-wrapper{
  width: 100vw;
  background-color: #f5f8fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form-wrapper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.contact-wrapper input{
  height: 30px;
  border: none;
}

.contact-wrapper input:hover{
  cursor: pointer;
}

.contact-wrapper textarea{
  border: none;
  font-family: "Muli";
}

.contact-wrapper textarea:hover{
  cursor: pointer;
}

.contact-input-wrapper:hover{
  box-shadow: 5px 5px 5px rgb(211, 211, 211);
}

.contact-textarea-wrapper:hover{
  box-shadow: 5px 5px 5px rgb(211, 211, 211);
}

.contact-input-wrapper{
  background-color: white;
  height: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}

.contact-textarea-wrapper{
  background-color: white;
  height: 200px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.contact-wrapper h1{
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}

.contact-wrapper p{
  font-size: 13px;
  color: #7b94a5;
}

.agreement{
  display: flex;
  flex-direction: row;
  width: 80vw;
}

.agreement p{
  text-align: center;
}

.send-button{
  border: 2px solid white;
  border-radius:2em;
  color: white;
  background-color: rgba(0, 182, 222);
  height: 50px;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 20px;
}