.final-sector-wrapper{
  height: 50vh;
  background-color: #001927;
  position: relative;
}

.map-wrapper{
  display: flex;
  flex-direction: row;
}

.map-wrapper p{
  color: white;
}

#map {
  height: 140px;
  /* The height is 400 pixels */
  width: 140px;
  /* The width is the width of the web page */
  border-radius: 50%;
}

.author-wrapper{
  color: white;
}

