.second-sector-wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.second-sector-text-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-sector-wrapper h1{
  color: #002841;
  position: relative;;
  opacity: 0;
}

.second-sector-wrapper p{
  margin: 15px;
  color: #494949;
  font-size: 13px;
  line-height: 20px;
  opacity: 0;
  text-align:center
}

/* styling for tablet */

@media only screen and (min-width: 700px) {
  .second-sector-wrapper h1 {
    font-size: 40px;
  }
  
  .second-sector-wrapper p {
    margin: 15px;
    color: #494949;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
  }
}
