body{
margin-top: 0;
margin-left: 0;
margin-right: 0;
font-family: 'Muli'
}

.slider-wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  }
  
.first-slider-image{
  position: absolute;
}

.first-slider-image img{
  height: 100vh;
  width: 100%;
  filter: brightness(30%);
  object-fit: cover;
}

.top-bar-wrapper{
width: 100vw;
position: absolute;
z-index: 10;
display: flex;
flex-direction: row;
justify-content: space-between
}


.logo img{
  position: relative;
  height: 80px;
  top: 30px;
  left: 20px;
}
  
.right-side-wrapper{
  position: relative;
  top: 60px;
  right: 50px;
}

.right-side-wrapper a{
  color: white;
  text-decoration: none;
}