body{
margin-top: 0;
margin-left: 0;
margin-right: 0;
font-family: 'Muli'
}

.slider-wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  }
  
.first-slider-image{
  position: absolute;
  display: block;
  opacity: 1;
}

.first-slider-image img{
  height: 100vh;
  width: 100%;
  filter: brightness(30%);
  object-fit: cover;
}

.second-slider-image{
  position: absolute;
  display: none;
  opacity: 0;
}

.second-slider-image img{
  height: 100vh;
  width: 100%;
  filter: brightness(30%);
  object-fit: cover;
}

.top-bar-wrapper{
width: 100vw;
position: absolute;
z-index: 10;
display: flex;
flex-direction: row;
justify-content: space-between
}

.logo{
  position: relative;
  top: 43.5px;
  left: 10vw;
}

.logo img{
  height: 100px;
}

.desktop-menu-wrapper{
  display: none;
}

.menu-icon-wrapper{
  position: relative;
  top: 70px;
  right: 10vw;
}

.menu-icon-element{
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
}

.first-slider-elements{
  position: absolute;
  z-index: 10;
}

.first-slider-texts{
  position: relative;
  top: 400px;
  left: 10vw;
}

.first-slider-texts p:first-child{
  color: white
}

.first-slider-texts p:nth-child(2){
  color: blue
}

.dots{
  position: absolute;
  left: 90vw;
  top: 300px;
  display: flex;
  flex-direction: column;
}

.dot{
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-top: 30px;
}

.buttons-wrapper{
  position: absolute;
  z-index: 10;
  top: 500px;
  left: 200px;
}

button{
  height: 100px;
  width: auto;
}

@media only screen and (min-width: 1220px){
  .menu-icon-wrapper{
    display: none;
  }

  .logo{
    height: 130px;
  }

  .logo img{
    height: 130px;
  }
    
  .desktop-menu-wrapper{
    display: block;
    position: relative;
    top: 88px;
    right: 5vw;
  }
  
  .desktop-menu-wrapper a{
    color: white;
    text-decoration: none;
    font-size: 17.5px;
    margin-right: 90px;
  }
}