.third-sector-wrapper{
  height: 100vh;
  width: 100%;
  position: relative;
  right: 1000px;
}

.third-sector-text-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-sector-wrapper h1{
  color: #002841;
  position: relative;;
}

.third-sector-wrapper p{
  margin: 15px;
  color: #494949;
  font-size: 13px;
  line-height: 20px;
  text-align:center
}

.third-sector-image-and-youtube-wrapper{
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.third-sector-image-wrapper{
position: relative;
z-index: -10;
}

.third-sector-image-wrapper img{
  height: 400px;
  width: 100%;
  filter: brightness(30%);
  object-fit: cover;
}

.third-sector-youtube-wrapper{
  position: absolute;
  z-index: 20;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 250px;
}

.third-sector-youtube-wrapper iframe{
  height: 200px;
}

.play-button-wrapper{
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: rgba(0, 183, 220, 0.275);
}


.play-button-wrapper button{
  position: absolute;
  z-index: 10;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: rgba(0, 183, 220, 0.775);
  border: none;
  font-size: 80px;
  color: white;
}

