.third-sector-wrapper{
  height: 100vh;
  width: 100%;
  position: relative;
  right: 500px;
}

.third-sector-text-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-sector-wrapper h1{
  color: #002841;
  position: relative;;
}

.third-sector-wrapper p{
  margin: 15px;
  color: #494949;
  font-size: 13px;
  line-height: 20px;
  text-align:center
}

.third-sector-image-and-youtube-wrapper{
  width: 100vw;
}

.third-sector-image-wrapper{
position: relative;
z-index: -10;
}

.third-sector-image-wrapper img{
  height: 400px;
  width: 100%;
  filter: brightness(30%);
  object-fit: cover;
}